
h1 {
    color: white;
}

h3, h6 {
    display: inline;
}

#details {
    width: 40%; 
}

#five-day{
    color: white;
}

#forecast {
    color:black;
}

#launch {
     margin-top: .5em;
     padding-left: 7em;
}

#city-div {
    margin-top: .5em;
}

.low {
    background-color: green;
}

.medium {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.very-high {
    background-color: red;
}

.extreme {
    background-color: purple;
}

#uv {
    padding: .25em;
    border-radius: .5em;
    width: 105px;
}

#icon {
padding-left: 4em;
}

.container {
    width: 100%;
}

